[2015-07-13 10:37] bcardarella opened #2 "ecto version constraint collides with phoenix_ecto"
You can't have both with the current version constraint. It looks like phoenix_ecto is versioning against ecto's minor version, and this application is versioning against ecto's patch version

[2015-07-13 15:03] bitwalker commented on #2
@bcardarella You can specify `{:ecto, "~> x.x.x", override: true}` in your mix.exs to use the version you like. I can probably loosen up the version constraint, but since Ecto is still pre-1.0, I prefer to not blindly allow minor version increments, since they can introduce backwards-incompatible API changes. Right now `timex_ecto` depends on any patch version between `0.12.1` and `0.12.whatever`,

[2015-07-13 15:03] #2 closed, assigned to nobody

[2015-07-15 15:34] vsmart opened #3 "Dependency conflict on ecto with phoenix 0.14"
Since phoenix 0.14 uses ecto 0.13.1, and here we are trying to use 0.12.1 we get a dependency conflict. Could you update timex_ecto to use ecto 0.13.1?
Alternatively, is there a way to bypass this conflict?

Thanks. 😊

[2015-07-15 15:37] bitwalker commented on #3
@vsmart Sure I can do that, just so you know though, you can always override the dependency at the top level with:

[code]

This forces your application to use the version of ecto you specified. Hope that helps :)

[2015-07-15 15:37] #3 closed, assigned to nobody

[2015-07-15 15:39] vsmart commented on #3
Thank you! :+1: :tada:

[2015-07-15 15:45] bitwalker commented on #3
Just FYI, I pushed a new release 0.3.0 which is updated to use the latest ecto version :)

[2015-07-16 09:36] vsmart commented on #3
Thanks again. :cake:

[2015-09-11 10:18] michalmuskala opened #7 "What's the status of timex_ecto?"
It seems `timex_ecto` is quite behind both ecto and timex itself. What is the status? Is this still considered a useful library but nobody had time to maintain it, or was it obsoleted by something else?

If the issue is lack of time, I could help and bring it up to date to ecto 1.0

[2015-09-11 14:42] bitwalker commented on #7
@michalmuskala I think it probably just needs to have the version number bumped. I'm not actively using Ecto at the moment, which is why it's fallen behind. PRs are always welcome though, and if there are bugs or issues with it, I'll gladly dive in and help fix them. I'll take care of this today :)

[2015-09-11 17:47] bitwalker commented on #7
New release 0.5.0 was pushed.

[2015-09-11 17:47] #7 closed, assigned to nobody

[2015-09-11 20:50] michalmuskala commented on #7
Thank you!

[2015-09-16 15:17] rockwood opened #8 "Querying"
I'm having trouble querying by columns that use Timex.Ecto.DateTime. Is there something I'm doing wrong?

[code]

[2015-09-16 15:37] bitwalker commented on #8
@rockwood Taking a look!

[2015-09-16 15:58] bitwalker commented on #8
@rockwood Could you show me the Post model definition? Also just to clarify, which versions of ecto/timex_ecto are you using?

[2015-09-16 16:00] bitwalker commented on #8
@rockwood It seems it's possible that the query builder is unable to infer the correct type of `start_date`, could you try replacing `^start_date` with `type(^start_date, Timex.Ecto.DateTime)` to see if that works?

[2015-09-16 16:04] rockwood commented on #8
"ecto": {:hex, :ecto, "1.0.1"},
  "timex": {:hex, :timex, "0.19.4"},
  "timex_ecto": {:hex, :timex_ecto, "0.5.0"},

[code]

I tried switching to `where: p.submitted_at > type(^start_date, Timex.Ecto.DateTime)`, but I get the same error: undefined function: Timex.DateTime.type/0

Thanks so much for taking a look.

[2015-09-16 18:11] bitwalker commented on #8
@rockwood There is a bug in Ecto's query planner that I found. José/Eric should be taking a look before long. I'll keep this thread updated as I hear more!

[2015-10-05 21:18] mspanc commented on #8
I am encountering the same issue, any news?

[2015-10-06 17:09] bitwalker commented on #8
@mspanc Not yet, I had some ideas on the source of the issue, but haven't been able to delve into it to put together a fix + PR due to ElixirConf. I'll ping them again and see if they have any updates, but I'm guessing that it's been out of sight/out of mind for them since the issue was first reported.

[2015-10-08 20:23] dyerc commented on #8
I too am facing this same issue. I tried converting to an Erlang `DateTime`, but if the field type is `Timex.Ecto.Date` it will try to cast it back again still yielding no success.

[2015-10-08 20:37] paulcsmith commented on #8
This is a little ghetto, but is working for me until the bug is fixed.

[code]

P.S. I hope Timex becomes part of Elixir core at some point :) I think that would make things like this a lot simpler since there would be one common way of working with time

[2015-10-08 20:50] bitwalker commented on #8
Sorry this is such a pain in the ass everyone, the issue goes beyond just timex unfortunately, and needs to be addressed within ecto, but there hasn't been time for the ecto team to address it, and while I put together a simple patch which fixes it in ecto, it's probably not the right solution for the long term. I'll keep pushing to get a solution merged ASAP!

[2015-10-08 20:50] dyerc commented on #8
Thanks @paulcsmith that's very helpful. The field in my model is an `Timex.Ecto.Date` so using `DateFormat.format!("{YYYY}-{0M}-{0D}")` sorted this issue for me.

[2015-10-08 20:52] paulcsmith commented on #8
@bitwalker It's all good! This is complicated stuff and we know you and the Ecto team have tons to do :) My hope is that if Timex were merged into Elixir core, there would not be as many/any issues with Timex/Ecto interop. Who knows. Maybe one day!

@CD1212 Glad I could help!

[2015-11-26 03:04] mgwidmann opened #9 "Does not convert to UTC before storing"
I'm noticing that dates going in as any other timezone other than UTC, come out as UTC but with the hours not adjusted. For example:

[code]

These two dates are actually within a minute of each other (53:50 vs 54:43) but show as if they are 5 hours apart (New York's difference, -5)

For now, to get things to work right, I have to convert it to UTC prior to putting into the changeset and that fixe

[2015-11-26 03:07] mgwidmann commented on #9
BTW, would be a nice feature to be able to configure the loaded timezone (as it comes out of the DB) on each field, though I can't think of a way to do that with Ecto at the moment.

[2015-11-27 17:24] bitwalker commented on #9
@mgwidmann The reason for this is that Ecto assumes everything is UTC in the database, and because you aren't using the `DateTimeWithTimezone` type, `timex-ecto` has no way of knowing what timezone it should actually be when it gets the DateTime, so it defaults to UTC.

In general, you should always store dates/times as UTC, and only convert to a local timezone when necessary, rather than store ar

[2015-11-30 18:17] mgwidmann commented on #9
Can't `timex_ecto` recognize its a non-UTC timezone and convert it for us here: https://github.com/bitwalker/timex_ecto/blob/master/lib/types/datetime.ex#L26

[2015-11-30 20:05] bitwalker commented on #9
@mgwidmann Ah I see what you mean, I thought you were talking about when pulling them out of the database. Yes, I can make that change (though not there actually, in the `dump` function instead). I'll get a fix pushed up right away.

[2015-11-30 20:14] #9 closed, assigned to nobody

[2015-11-30 20:14] bitwalker commented on #9
Released in 0.6.0

[2015-11-30 20:26] mgwidmann commented on #9
:+1:

[2015-12-15 17:18] bitwalker commented on #8
This should be fixed as of timex_ecto 0.7.0 / ecto 1.1. Could you all test and verify that this is working for you?

[2016-01-05 22:46] jerodsanto opened #11 "Timex.Ecto.DateTime fields and Phoenix.HTML.Form methods"
Loving Timex so far, thanks for the great library!

It would be lovely if Timex DateTime fields would integrate with Phoenix.HTML's form methods (`date_select`, `datetime_select`, `time_select`, and friends).

This appears to need integrations on both sides:
1. When reading the current value of a `Timex.Ecto.DateTime` field for display in the form select
2. When writing the changes to a `Timex.Ect

[2016-01-07 16:20] paulcsmith commented on #8
@bitwalker I've been a bit busy this week, but I'll check this out and post here if there are any issues! :D

[2016-01-08 22:37] bitwalker commented on #11
Looks like that will need to be implemented as it's own library. I can add that to my TODO list, but if you want to work on such a thing, I'd be glad to provide advice/etc as needed. You could use [phoenix_calendar](https://github.com/lau/phoenix_calendar) as a reference implementation, since it should be almost identical really.

[2016-01-20 11:30] oguizol commented on #8
Using timex_ecto 0.7.0 / ecto 1.1 I get the following debug output:
SELECT s0."id", s0."inserted_at", s0."updated_at", s0."name", s0."start_date", s0."end_date" FROM "my_table" AS s0 WHERE ((s0."start_date" >= $1) AND (s0."end_date" <= $2)) [{{2016, 2, 3}, {0, 0, 0, 0}}, {{2016, 2, 6}, {0, 0, 0, 0}}] OK query=215.8ms queue=13.4ms

I don't have the UndefinedFunctionError but I believe the parameter

[2016-01-20 13:07] oguizol commented on #8
Nevermind. Looks like ecto dates output is the same.

[2016-01-29 01:41] 1ternal commented on #11
+1

[2016-02-01 01:23] kiliancs commented on #11
@bitwalker I hope @jerodsanto doesn't mind, but I simply needed it working ASAP and decided to give it a try myself.

First I followed your pointer and built https://github.com/Paradem/phoenix_timex inspired by phoenix_calendar, but it became clear that Phoenix.HTML.safe will simply allow us to use Timex in our templates directly (and get rid of the 'protocol Phoenix.HTML.Safe not implemented for.

[2016-02-01 06:01] tokafish opened #14 "Support for ISO datetime strings in casting Timex.Ecto.Date"
Hi there,

Thanks for the great library. I was wondering if there would be interest in a PR to expand how strings are cast by the `Timex.Ecto.Date` type. In particular, when dealing with JSON, it would be convenient to accept ISO datetime strings as well as well as dates, and simply discard the time portion (similar to [this](https://github.com/elixir-lang/ecto/pull/965) in Ecto)

If you'd be up f

[2016-02-01 15:09] jerodsanto commented on #11
@kiliancs I don't mind at all! I got pulled away to something else and hadn't had a chance to work on this. :+1:

[2016-02-02 04:10] tokafish commented on #14
I'm noticing that #13 is an open PR for this issue... so I'm closing this in favor the PR.

[2016-02-02 04:10] #14 closed, assigned to nobody

[2016-02-05 08:51] bigardone opened #15 "Cannot load error after inserting embedded_schema"
Hello!
I'm not sure if it's an error related to **timex** or **timex_ecto**. The thing is that I've added a **DateTime** field to an Ecto schema. When I try to insert or update it works fine. The problem comes when I try o get the record from the database. I get the following error:

[code]

These are the current versions I'm using:

[code]

I think I've followed correctly the instructions, do you

[2016-02-05 08:57] bigardone commented on #15
Oh! I forgot to mention that the model has a **embeds_many** relationship where I use **DateTime** as well, and it's saving it just like in the error, so it's not transforming it to a valid date format while inserting. Is this an error or is there anything special I have to do in order to use Timex in a **embedded_schema**?

Thank you very much in advance

[2016-02-05 23:10] bitwalker commented on #11
@kiliancs I've merged your PR, is there anything in particular you'd like me to look at in phoenix_timex?

[2016-02-05 23:11] bitwalker commented on #14
@tokafish Just FYI, #13 has been merged, I'll publish a new version today.

[2016-02-05 23:12] bitwalker commented on #15
@bigardone I'll try and create a simple example to reproduce and go from there. If you can share your schema or one which reproduces the issue, that would be hugely helpful!

[2016-02-05 23:18] kiliancs commented on #11
Thanks @bitwalker :)
I think it would be great if you could suggest a way to format dates without time information. For example I have a database column with only a date and phoenix_timex formats it including the time information (all zeros).

[2016-02-05 23:33] bitwalker commented on #11
@kiliancs Looking at the code, it looks like you are assuming Timex.Date and Timex.Time are structs, but they are not, they are just modules for working with either datetimes or times. The only struct in Timex itself is Timex.DateTime. When you pull a record from Ecto using timex_ecto, you are getting a Timex.DateTime struct out, so defining the protocol for the Timex.Ecto.\* types probably isn't

[2016-02-08 05:57] bigardone commented on #15
Yeah of course! here's the schema:

[code]

The error is thrown after getting a `TimeEntry` which has a `TimeRange`.

[2016-02-10 11:22] kiliancs commented on #11
Thank you @bitwalker, I updated [PhoenixTimex](https://github.com/Paradem/phoenix_timex) with your recommendations. I will release it as a Hex package in the next few days.

[2016-02-11 18:39] bitwalker commented on #11
Right on! I left a comment on your commit, just one thing you may want to consider before publishing.

[2016-02-11 18:39] #11 closed, assigned to nobody

[2016-02-13 16:18] dyerc commented on #15
I have just run into the same issue. If it's any help my schema is:

[code]

If I try to do the following I get the same error as @bigardone

[code]

[2016-02-18 22:06] bitwalker commented on #15
Thanks to the both of you, I'll take a look now and see if I can't get a fix up today.

[2016-02-19 00:18] bitwalker commented on #15
@bigardone @CD1212 This has been fixed in master, a new release will be on hex shortly

[2016-02-19 00:18] #15 closed, assigned to nobody

[2016-02-19 05:47] bigardone commented on #15
Awesome, thank you very much!

[2016-02-19 09:35] dyerc commented on #15
Thanks very much, thats fixed it

[2016-03-10 13:23] martinmaillard opened #17 "Undefined function Ecto.Time.epoch/0"
`alias Ecto.Time` in `Timex.Ecto.Time` shadows `Timex.Time`, which is probably not intended. It results in the following error when calling `Timex.Ecto.Time.cast/1`.

[code]

[2016-04-12 14:40] vikram7 opened #20 "Expand test suite"
The current [test suite](https://github.com/bitwalker/timex_ecto/blob/master/test/timex_ecto_test.exs) contains a single test for `Timex.Ecto.Time.cast/1` when the input is a string. Other tests are likely needed here:
- [ ] `Timex.Ecto.Time.cast/1` when input is binary
- [ ] `Timex.Ecto.Time.cast/1`when input is a timestamp
- [ ] `Timex.Ecto.Time.cast/1` when input is a map like `%{"calendar" =>

[2016-04-12 17:19] bitwalker commented on #20
I'd gladly merge a PR for more tests! I'm keenly aware of how lacking tests for this library are, and would love to remedy that, sadly I've been cramped on time as of late. Any help is greatly appreciated!

[2016-05-01 15:39] benwilson512 opened #26 "Timex.Ecto.Datetime magnificently slow decode times."
Hey!

TL;DR: https://github.com/bitwalker/timex_ecto/blob/master/lib/types/datetime.ex#L33 is super slow. Timex.Ecto should probably consider just building a Timex.Ecto.DateTime struct manually.

I was recently trying to debug an issue in production where the decoding time of a mere ~1500 records was taking 400ms. I eliminated the time columns from the select and it dropped to 20ms. I switched to

[2016-05-01 20:13] benwilson512 commented on #26
This code here https://github.com/benwilson512/timex-bench shows about an 11x difference.

[2016-05-01 20:24] benwilson512 commented on #26
[code]

[2016-05-09 05:21] JustMikey opened #27 "Values dismatch with last version of Ecto"
When I migrated from `ecto` rc.3 to ecto rc.4, this error has started to appear:

[code]

Looks like it's the same [issue](https://github.com/elixir-lang/ecto/issues/1412) that `calecto` had.

[2016-05-19 06:51] philipgiuliani commented on #27
I have the same issue! Would be cool to get it fixed. For now i removed `use Timex.Ecto.Timestamps` from the model.

[2016-05-26 15:23] tessi opened #29 ""module Ecto.DateTimeWithTimezone is not available" when casting DateTimeWithTimezone with a castable binary"
First, thanks for timex_ecto ❤️

I (as a relative elixir noob) found some behaviour which I think might be a bug:
Casting ISO8601 encoded (or any other encoded date) date-strings results in an error being thrown instead of a casted `DateTime`.

Doing

[code]

fails with

[code]

The error seems to origin from [this line in our codebase](https://github.com/bitwalker/timex_ecto/blob/a42ff1584306ef92

[2016-05-26 15:26] tessi commented on #29
I've added [a pull request](https://github.com/bitwalker/timex_ecto/pull/30) adding tests to `DateTimeWithTimezone` -- they currently fail (on purpose) because of this bug.

[2016-05-26 15:47] tessi commented on #20
FYI: I've added a PR testing `Timex.Ecto.DateTimeWithTimezone.cast/1` -> #30

[2016-05-26 18:36] unbalancedparentheses commented on #27
I am having the same issue!

[2016-05-31 10:06] tessi commented on #17
Since the #18 was merged, can this issue be closed?

[2016-06-02 20:05] geofflane opened #31 "Document :usec option"
I only found out about the :usec option to the macro by reading the code, it would be nice to have that documented.

[2016-06-02 23:37] #29 closed, assigned to nobody

[2016-06-02 23:37] bitwalker commented on #29
This has been addressed and a new release (1.1.1) pushed to hex.

[2016-06-02 23:38] bitwalker commented on #17
I'm going to go ahead and close it since a release has been pushed as well.

[2016-06-02 23:38] #17 closed, assigned to nobody

[2016-06-02 23:49] bitwalker commented on #27
I pushed some changes which may address this. They are on master if one of you can give it a go and try to see if you can produce the same error. Sorry for the trouble and the delay!

[2016-06-03 06:43] tessi commented on #29
\o/ thanks

[2016-06-05 01:19] markshiz opened #32 "(Ecto.ChangeError) value `{{YYYY, M, D}, {0, 0, 0, 0}}` for ... in insert does not match type Timex.Ecto.DateTime"
Getting the following error:

[code]

With the following model:

[code]

Here are my versions

[code]

[2016-06-06 16:55] bitwalker commented on #31
Merged new docs :)

[2016-06-06 16:55] #31 closed, assigned to nobody

[2016-06-06 16:59] bitwalker commented on #32
Well that's odd, it's calling dump with `{{2016, 9, 3}, {0, 0, 0, 0}}` instead of a DateTime. I can add an overload to dump which just takes in such a date/time tuple and passes it through, but I wonder what that just started happening. What version of Ecto are you using?

[2016-06-06 23:46] bitwalker commented on #26
I've got fixes locally now that bring Calendar and Timex up to roughly equivalent perf. Timex will still be a shade slower, but I'm ok with that because I'm performing extra checks in a lot of places that Calendar is not. In any case, a new release will be dropped sometime this week with the changes I've made. From what I gather you've already moved on to Calendar, but I still appreciate the repor

[2016-06-06 23:49] benwilson512 commented on #26
Thanks! Greatly appreciated :)

[2016-06-07 13:43] markshiz commented on #32
I'm on the latest stable version, `1.1.8`

[2016-06-07 14:57] OvermindDL1 opened #34 "Warnings during compile"
Noticed these warnings during compilation, posting here in case they are important (ecto 2.0.0-rc5 for note):

[code]

[2016-06-11 08:05] erneestoc opened #35 "Last release breaks my timestamps..."
The crashlog looks like this... tried updating to the most up to date release of timex and ecto, and nothing... thanks for the great work.

[code]

[2016-06-11 19:58] bitwalker commented on #35
Looks like the problem is that the date being dumped is nil, and that is being passed through to `Timezone.diff` which expects a valid DateTime struct. Can you find which database record caused the error, and what it's value is? That would help a bunch in troubleshooting.

[2016-06-12 00:25] erneestoc commented on #35
I rolled back one version and started working again, and the stacktrace appears to be within your code. I hope I'm the only one affected with this though. The bug appears to be when a Timex.Ecto.DateTime is null in the db, and I'm trying to update the field.

[2016-06-12 00:27] bitwalker commented on #35
Yes I just needed to verify what the input value from the db was, I will have a fix pushed soon.

[2016-06-12 00:31] bitwalker commented on #35
Could you tell me what version of timex you are using? I can't reproduce the problem by just calling `Timex.Ecto.DateTime.dump(nil)`, so there must be something else involved.

[2016-06-12 00:32] bitwalker commented on #35
Wait, I found it, I'll have a fix pushed shortly

[2016-06-12 00:46] bitwalker commented on #35
Could you give the master branch of timex_ecto a try? I did a test with all nil values for all types, and I'm able to query and pull back records with no problems. If you are still seeing an issue, could you provide me the schema for the type which is blowing up on you? I have a test project I use, and I can add more test cases to it if something is missing.

[2016-06-12 00:54] erneestoc commented on #35
thanks, it's working now... 👍

[2016-06-12 00:54] #35 closed, assigned to nobody

[2016-06-12 00:55] bitwalker commented on #35
I'll push a new release then so you don't have to use master :)

[2016-06-12 00:56] bitwalker commented on #34
Fixed in last release.

[2016-06-12 00:56] #34 closed, assigned to nobody

[2016-06-12 00:57] bitwalker commented on #26
This should be addressed in the latest release, I'm going to close this for now, but please reopen it if you are still seeing performance issues. Thanks again for the report!

[2016-06-12 00:57] #26 closed, assigned to nobody

[2016-06-12 00:57] bitwalker commented on #27
@JustMikey ping :)

[2016-06-12 01:02] bitwalker commented on #32
My tests show this is now working in the latest release, 1.1.3. I'll close this for now, but please reopen if you are still encountering issues. Thanks!

[2016-06-12 01:03] bitwalker commented on #27
Pretty sure this is working now in 1.1.3, I'll leave this open awhile longer so that one of you has a chance to report back to me that things look good on your end. So far my tests appear to work as expected.

[2016-06-14 04:58] JustMikey commented on #27
@bitwalker I apologize for the long reply. It works correctly on my side, thank you very much.

[2016-06-14 04:58] bitwalker commented on #27
Excellent :), thanks for the reply!

[2016-06-14 04:58] #27 closed, assigned to nobody

[2016-06-14 09:06] philipgiuliani commented on #27
Also works here :)

[2016-06-16 02:42] markshiz commented on #32
I just updated `timex_ecto` and `elixir` to latest versions, but I'm still running into the same issue.

[code]

[code]

[code]

[2016-06-16 16:16] bitwalker commented on #32
@markshiz Ok, I've reopened this. What version of Ecto are you running?

[2016-06-17 15:24] markshiz commented on #32
ecto is the latest non-beta, `1.1.8`

[2016-07-15 11:26] martinmaillard opened #37 "Why use `Timex.Duration` instead of `Time`?"
I was wondering: what made you chose `Timex.Duration` for `Timex.Ecto.Time` fields instead of the `Time` type from standard lib?

[2016-07-15 16:40] bitwalker commented on #37
Two reasons, first, it is the direct equivalent of the old `Timex.Time` type (just an Erlang timestamp), where `Time` is not (it can only be used to represent a 24 hour clock). The `Timex.Time` API was replaced with `Timex.Duration`, along with the new struct. However I have not yet added a complete `Timex.Time` API to work with the new `Time` type, mostly because there hasn't been much need beyon

[2016-07-19 06:19] martinmaillard commented on #37
Ok that makes sense. Thanks for the answer!

I think I would prefer to have two different ecto types: Timex.Ecto.Time and Timex.Ecto.Duration. But I can work with one ;)

[2016-07-19 14:39] bitwalker commented on #37
I can see the advantage in having a `Time` type as well, so it's on my TODO list :)

[2016-07-21 20:32] marktran opened #39 "Casting datetime string fails"
I just upgraded to `timex 3.0.4` and `timex_ecto 3.0.0` and now I'm seeing casting of datetime strings failing. Here's the stacktrace from my test:

[code]

[2016-07-21 20:37] bitwalker commented on #39
I'll get a fix pushed for this ASAP

[2016-07-21 20:41] #39 closed, assigned to nobody

[2016-07-21 20:41] bitwalker commented on #39
Pushed a fix, and a new release to hex, 3.0.1

[2016-07-21 20:42] marktran commented on #39
thanks @bitwalker!

[2016-07-21 21:11] marktran commented on #39
@bitwalker Hm, I'm seeing this error on the same test after updating:

[code]

[2016-07-21 21:21] bitwalker commented on #39
@marktran I messed up, that value needed to be returned in an `{:ok, _}` tuple, not just the plain value. Try 3.0.2, it has that bug fixed.

[2016-07-21 21:26] marktran commented on #39
@bitwalker Looks good now. Thanks for the quick fix!

[2016-07-21 21:49] bitwalker commented on #39
Great! No problem :)

[2016-07-30 10:39] matteodepalo commented on #9
It seems like here the conversion got removed https://github.com/bitwalker/timex_ecto/commit/92df7c7358aa35739b275c10aa2c47abc4dac889

I'm experiencing this bug again with timex_ecto 3.0.4. Was this code moved somewhere else? I might have lost track of it in the refactor.

[2016-07-30 22:18] bitwalker commented on #9
@matteodepalo I pushed a new release to hex with the fix. During the transition I forgot to treat DateTime specially when dumping. Should be good to go now!

[2016-08-09 15:44] justinbkay opened #40 "protocol Timex.Protocol not implemented for..."
Phoenix 1.2.0
ecto master
timex ecto 3.0.3
timex 3.0.5

protocol Timex.Protocol not implemented for %{"day" => "6", "month" => "9", "year" => "2013"}

When using a date helper in a form the cast in the changeset gives an error about not implementing a protocol for the datastructure  %{"day" => "6", "month" => "9", "year" => "2013"}

[2016-08-10 18:24] airlanggacahya opened #41 "tzdata error when ecto.migrate contains repo insert"
Error tzdata when running ecto.migrate that contains insertion command.

[code]

Model

[code]

Migration File

[code]

Temporary solution, add `Application.ensure_all_started :timex` before migration code.
But it seems hacky....

[2016-08-12 21:20] bitwalker commented on #40
I can implement Timex.Protocol for map, it hasn't yet been done, but is pretty straightforward. Can you open an issue [here](https://github.com/bitwalker/timex/issues)? I'll track it there.

[2016-08-12 21:20] #40 closed, assigned to nobody

[2016-08-12 21:21] bitwalker commented on #41
Is `timex` in your applications list in `mix.exs`? If not, adding it there should fix it. It was my understanding that `ecto.migrate` starts the application before running migrations, so if `timex` is in the applications list, it should work as expected. If that's not the case, then your solution is the only way around that I'm afraid.

[2016-08-12 21:21] #41 closed, assigned to nobody

[2016-08-15 14:56] jadlr opened #42 "Different casting behaviour in timex_ecto 3 when trying to cast from a map"
Prior to `timex_ecto` 3 you could do:

[code]

The same input will result in an error in `timex_ecto` 3:

[code]

see https://github.com/bitwalker/timex_ecto/blob/3.0.3/lib/types/date.ex#L28

This is because `Timex.to_date/1` is tried before `Ecto.Date.cast/1`. Is the new behaviour wanted or should it still be possible to cast from a string map?

[2016-08-15 15:58] jadlr commented on #42
timex master now implements `Timex.Protocol` for maps. Should not be a problem in the future.

[2016-08-15 15:58] #42 closed, assigned to nobody

[2016-08-15 20:12] ghost opened #43 "use Ecto.Model is still used in the example"
use Ecto.Model has been deprecated and removed, we can update the doc using use Ecto.Schema

[2016-08-15 22:15] #43 closed, assigned to nobody

[2016-08-19 19:29] k155la3 opened #46 "Timex.Ecto.DateTime.dump bug with timezone"
Timex.Ecto.DateTime.dump should use UTC converted value when calling to_naive_datetime.

[2016-08-20 15:01] bitwalker commented on #46
Fixed in latest release.

[2016-08-20 15:01] #46 closed, assigned to nobody

[2016-08-24 23:21] phillipp opened #47 "RFC: Force conversion to/from a specific timezone"
Hi,
I'm maintaining a legacy app where the time zones are stored in the local time zone instead of UTC. I want to access the database via ecto. The problem is that it messes up the time by converting it to/from UTC and so everything breaks (there are literally hundreds of other clients that use the same database).

What is the best way to turn off the time zone conversion?

[2016-08-25 12:11] phillipp commented on #47
I have implemented such behaviour in my fork (hard-coded for the time being: https://github.com/phillipp/timex_ecto/commit/475d0be10bab2882e404e7fa6241387bc000c3bf). Would you like to integrate that? In that case, I'm not so sure what the best implementation would be. I thought about an extra type (like Timex.Ecto.LocalDateTime or sth.) but 99% of the module would be exactly the same code than the

[2016-08-26 18:56] bitwalker commented on #47
Probably the best way is to implement a Timex.Ecto.NaiveDateTime type which performs no conversions. Inputs will be converted to NaiveDateTime, and outputs will always be NaiveDateTime.

[2016-08-26 18:56] bitwalker commented on #47
It's implementation can be very similar to Timex.Ecto.DateTime, just without the conversions to/from UTC.

[2016-08-26 18:57] bitwalker commented on #47
I will put this on my TODO list, but it may be a week or two before I can get to it, if you'd like to take a stab at it and open a PR to collaborate on, I'd be glad to help with any questions.

[2016-09-01 15:10] phillipp commented on #47
I have now tested two implementations:

a) one that converts the time from/to the local timezone, and that worked as I expected
b) one "naive" that does not convert before/after storing. This works for my own timestamps from the application that I converted explicitly to the local timezone before storing but not for the inserted_at and updated_at timestamps as they seem to be always generated in t

[2016-10-11 12:53] danielnc opened #49 "(ArgumentError) could not encode datetime / Timex.Ecto.DateTimeWithTimezone stripping timezone"
getting the following error

[code]

with the following model

[code]

and my scheduled_to is a `datetimetz` following examples provided

Here are my versions

[code]

Looking at the source code when I manually call `Timex.Ecto.DateTimeWithTimezone` on a datetime it strips my TZ info and this is the generated query

[code]

Is this a bug or am I doing something completely off?

[2016-10-13 02:13] bitwalker commented on #49
Could you give this a shot with 3.0.5?

[2016-10-13 11:59] danielnc commented on #49
Works thanks for the fix @bitwalker

[2016-10-13 11:59] #49 closed, assigned to nobody

[2016-10-26 21:31] AndrewDryga opened #51 "Error when using latest Ecto rc-3"
@bitwalker Application won't build with timex_ecto:

[code]

[2016-10-29 12:45] hauleth opened #52 "RFC: Use `timestamptz` from PostgreSQL when storing time with timezone."

[2016-10-30 10:52] Samorai commented on #51
@bitwalker Hi!
The problem because Ecto has added the same modules but just with dump function.
https://github.com/elixir-ecto/ecto/blob/v2.1.0-rc.3/lib/ecto/data_type.ex#L55

I think we can rename your modules and add prefix Timex. I can do PR for this fix.

[2016-10-31 21:52] bitwalker commented on #51
Fixed in master.

[2016-10-31 21:53] #51 closed, assigned to nobody

[2016-10-31 21:54] bitwalker commented on #52
Would you be willing to open a PR with the necessary changes?

[2016-11-03 13:48] hauleth commented on #52
@bitwalker when I will find some time to study how to deal with `timex_ecto` then yes, it would be fun.

[2016-11-07 19:10] joshrieken opened #54 "Rendering JSON in Phoenix w/ Timex.Ecto.Timestamps: (Poison.EncodeError) unable to encode value: {0, 0}"
In my `web.ex`, I have:

[code]

I have a function in my view for rendering JSON:

[code]

This view raises `(Poison.EncodeError) unable to encode value: {0, 0}`.

When I remove `Timex.Ecto.Timestamps` from `web.ex`, it renders as expected.

[2016-11-07 19:16] bitwalker commented on #54
Ah, yes this is due to the fact that Elixir's date/time types store microseconds as a tuple of `{microseconds, precision}`. I would expect you would want to return timestamps in seconds since UNIX epoch when generating JSON though, no? I would use `Timex.to_unix(transaction.inserted_at)` instead, otherwise you'll just get an object with fields like `year`, `month`, etc.

[2016-11-07 19:19] joshrieken commented on #54
Ah, yes, that is a much better way. I'm not sure why I expected it to automatically do that. Thank you!

[2016-11-07 19:19] #54 closed, assigned to nobody

[2016-12-19 03:04] wmnnd opened #55 "Support for casting from strings"
Hi there,

I was trying out timex_ecto and now I have encountered the problem that I can’t seem to cast ISO 8601 strings into Timex.Ecto.Datetime through a changeset.

Say I have the following Ecto Schema:
[code]

When I try to cast ISO 8601 strings, it works fine with Ecto.DateTime while Timex.Ecto.DateTime fails:
[code]

Am I missing something here? Unfortunately, the [Timex docs](https://timex.

[2016-12-19 15:58] wmnnd commented on #55
Some more context: I’m trying this with Elixir 1.3.3, timex_ecto 3.0.5 and timex 3.1.5.
Researching the problem, I also tried the example given in #16 and it doesn’t work either:
[code]

[2016-12-20 04:29] bitwalker commented on #55
Could you upgrade to timex_ecto 3.1.0? Your example code works as expected there.

[2016-12-20 04:29] #55 closed, assigned to nobody

[2016-12-20 04:35] wmnnd commented on #55
Where would I find that version? timex_ecto’s latest version on [Hex](https://hex.pm/packages/timex_ecto) is 3.0.5 just like here on [GitHub](https://github.com/bitwalker/timex_ecto/releases).

[2016-12-20 05:04] bitwalker commented on #55
I just published it, sorry about that!

[2017-01-13 19:24] eminarcissus opened #56 "DateTime conversion issues when doing unit test"
The code are as following
Looks like the last digit 05.41213Z and 05.412130Z are not the same when doing ecto conversion(they are compared as String when returned from the view layer

Don't know if this is a bug or is something I'm missing here
Any help would be appreciated :)
[code]

[2017-01-23 12:05] jsierles opened #57 "Converting an existing app"
What would I need to do to convert existing timestamps to the timex_ecto format? Thanks!

[2017-01-23 12:15] jsierles commented on #57
Nevermind, I misunderstood the documentation. All good now. Thanks for building this!

[2017-01-23 12:15] #57 closed, assigned to nobody

[2017-02-05 15:59] soriyath opened #58 "DateTimeWithTimezone documentation for PostgreSQL"
I struggled to get DateTimeWIthTimezone as a column type for PostgreSQL.
Maybe you can improve the learning curve for future users by pointing to the content of [Timex Using With Ecto, #Using DateTimeWithTimezone](https://github.com/bitwalker/timex/blob/master/docs/Using%20with%20Ecto.md#using-datetimewithtimezone) in the readme of `timex_ecto`'s `Readme.md`
Thanks for the great library.

[2017-02-07 20:27] #58 closed, assigned to nobody

[2017-02-07 20:27] bitwalker commented on #58
Done :)

[2017-02-11 17:51] bitwalker commented on #56
This should be fixed in recent versions of TImex - there was a padding issue with microseconds, could you give it a shot and let me know?

[2017-02-12 09:56] eminarcissus commented on #56
Tested it once again, looks like still a no go here.

     Assertion with == failed
     code:  json_response(result, 200) == render_json(ActivityView, "show.json", activity: gate)
     left:  %{"data" => %{"activity_holder" => "ActivityHolder43", "description" => "ActivityDescription43", "end_datetime" => nil, "id" => 994, "image_id" => nil, "is_deleted" => false, "is_stopped" => false, "name" =>

[2017-02-12 09:57] eminarcissus commented on #56
timex version version "3.1.11"
timex_ecto version "3.1.1"

[2017-02-12 23:05] taylonr opened #59 "Timex.Ecto.Date.load appears to be using erl not Ecto.Date"
In iex, if I get a new Ecto.Date by calling:

`ecto_date = Ecto.Date.utc()`

It returns `#Ecto.Date<2017-02-12>`

If I then pass `ecto_date` into `Timex.Ecto.Date.load` I receive an `:error`

Looking at the code for `Timex.Ecto.Date.load` it's pattern matching on `{_year, _month, _date}`, which is not the standard Ecto date format, but is instead the erl format.

Either the function should be upda

[2017-02-13 04:29] bitwalker commented on #59
Thanks again for the PR!

[2017-02-13 04:29] #59 closed, assigned to nobody

[2017-02-13 14:55] taylonr opened #61 "Question: Should :error be replaced with {:error, reason} on failed calls?"
When I was looking at Timex.Ecto.Date.load for my last PR, I noticed if I called it without a parameter that it considered valid, it just returned `:error` I wasn't sure if I passed in the wrong value, or there was something wrong with the conversion or what.

What are your thoughts on returning a tuple of `{:error, reason}`?

My biggest concern would be that if anyone is matching off of just `:er

[2017-02-14 05:33] bitwalker commented on #61
I always prefer verbose errors like you requested, however the reason for the use of `:error` is because that is what the type specification for custom Ecto types declares it should return in the case of error conditions. If that has changed though, I'm definitely open to making the errors better.

[2017-02-14 12:17] taylonr commented on #61
Makes sense. I didn't think to look at Ecto spec.

[2017-02-14 12:17] #61 closed, assigned to nobody

[2017-02-17 15:33] bitwalker commented on #56
Could you show me the source DateTime struct? If the precision of microseconds is 6 coming from Ecto/the database, then this is not a bug - however if the precision is being overriden by timex_ecto, then there is a bug.

[2017-02-17 15:34] bitwalker commented on #56
Seeing the actual database field value will be the most helpful it looks like

[2017-02-17 15:36] eminarcissus commented on #56
`schema "activities" do
    field :name, :string,default: ""
    field :activity_holder, :string,default: ""
    field :description, :string,default: ""
    field :start_datetime, Timex.Ecto.DateTime,usec: true
    field :end_datetime, Timex.Ecto.DateTime,usec: true
    field :is_stopped, :boolean, default: false
    field :is_deleted, :boolean, default: false
    timestamps()
  end
`

This is my

[2017-02-17 15:43] bitwalker commented on #56
Could you provide the field value from the database? In order for me to isolate whether this is a bug or not, I have to troubleshoot with that value.

[2017-02-17 15:46] eminarcissus commented on #56
`select start_datetime,end_datetime,inserted_at,updated_at from activities;
   start_datetime    | end_datetime |        inserted_at         |         updated_at
---------------------+--------------+----------------------------+----------------------------
 2017-02-01 15:44:06 |              | 2017-02-17 15:44:30.139765 | 2017-02-17 15:44:30.139772`

[2017-02-17 16:45] bitwalker commented on #56
It looks like those values don't match the original values you opened the issue with - but with the ones you've provided, it looks like the microsecond precision is 6 in the database, hence the zero-padding when converted by Ecto/Timex. This isn't a bug, since we must preserve the precision we are given, and not reduce precision just because there are trailing zeroes.

[2017-02-17 16:49] eminarcissus commented on #56
Thx for the head up.
Yeps, issues are created with unit test erros, I cannot reproduce this bug,it just happens sometimes. So if I run 10 times mix test it can have different times of == assertive errors which make it really hard to look into.
I will see if there are any other methods to do the test, thx very much for the help :)

[2017-02-17 16:55] bitwalker commented on #56
No problem :). If you do reproduce it, try to capture the database value and reopen the issue with it, and I'll take a closer look!

[2017-02-17 16:55] #56 closed, assigned to nobody

[2017-05-22 13:27] eppdot opened #62 "Encode/Decode in JSON"
I am using `Ecto` only for schema and changeset. I store my values within redis as JSON blobs. But I am unable to decode the blob into a schema using `Timex.Ecto.Time`

[code]
In my (custom) Repo
[code]

and I am getting `timestamp: nil`. For example:

[code]

[2017-05-22 17:04] eppdot commented on #62
Please close issue, I used `Time` where I should have used `DateTime`. Sorry for any inconvenience.

[2017-05-24 02:19] #62 closed, assigned to nobody

[2017-06-05 07:47] GeminPatel opened #63 "How to store date/time as UTC but retrieve as localized date/time?"
Hi,

I was looking for a solution that will store my datetimes in UTC but on Application side will be in IST.
I have followed the guide and added `use Timex.Ecto.Timestamps` into my ` def model do` in `web.ex`.

Now querying the Repo I get updated_at and inserted_at as `#<DateTime(2017-06-05T05:40:55.030608Z Etc/UTC)>`. Is there a way I can set some kind of config to serialize the datetime as IST.

[2017-06-18 08:49] bitgorust opened #65 "support timestamptz"
detail in #64

[2017-06-22 18:44] bitwalker commented on #65
I'm going to close this, and we can just work from the PR thread :)

[2017-06-22 18:44] #65 closed, assigned to nobody

[2017-06-28 19:55] bitwalker commented on #63
This was the motivation behind `Timex.Ecto.DateTimeWithTimezone`, which will store the datetime and the timezone name in the database so that you can store and retrieve a localized datetime. `Timex.Ecto.DateTime` will convert to UTC on write, so any subsequent reads of that field will be in UTC rather than the previously localized date/time.

While I could have written `DateTimeWithTimezone` to st

[2017-06-28 19:58] bitwalker commented on #47
Sorry it took me so long to get back to this - I am open to support such configuration, but I would suggest proposing it to the Ecto team first - it would be far better if it was an upstream config option, but if it's something they are not prepared to do in Ecto, I would be open to a PR for this project :)

[2017-07-02 08:16] pmyjavec commented on #63
This is how I would have expected the library to work actually, I'm glad I read this before using it.

[2017-07-02 08:23] pmyjavec opened #67 "Migration instructions"
I'm curious what a migration should look to set up my database (psql) for use with  `Timex.Ecto.DateTimeWithTimezone`, there has been some commentary on this issue (https://github.com/bitwalker/timex/issues/133) about it and I've used something similar.

Is there a better way to do this?

[2017-07-02 08:34] pmyjavec commented on #67
I should mention I'm using something like this, which I'm personally very happy with:

[code]

[2017-07-02 09:07] GeminPatel commented on #63
@bitwalker I think that it would be really good if we can have this new addition. I could not find a solution while I was trying to solve this problem. The best I got was Timex. But as you know it was just one step less than what I actually needed. I have also seen lots of questions on StackOverflow and other boards where people are looking for something that provides **date/time as UTC but retrie

[2017-07-02 09:07] GeminPatel commented on #63
@pmyjavec Glad to have helped you :)

[2017-07-05 19:21] bitwalker commented on #63
@GeminPatel regardless the new type would need the same treatment that `DateTimeWithTimezone` requires today - that is, you need to create a custom type, and at this point I'm only supporting Postgres for that. That said, I'll take a look at this and post back when I have something for you to test.

[2017-07-05 19:22] bitwalker commented on #67
@pmyjavec That's exactly how I would do it :)

[2017-07-05 19:22] #67 closed, assigned to nobody

[2017-07-05 19:23] bitwalker commented on #63
I'll investigate using `timestamptz` as the underlying type, so it's perhaps possible we can avoid a custom type with this.

[2017-08-08 15:39] speeddragon commented on #8
Don't let this issue be forgotten!

[2017-08-09 16:51] speeddragon commented on #8
I'm using DateTimeWithTimezone, and this error happen:

[code]

I've tried DateTimeWithTimezone, Timezone, Datetime and can't get a query done successfully. It's possible to query using DateTimeWithTimezone or I need to convert for a simple date time format ?

[2017-08-09 16:57] bitwalker commented on #8
How is your schema defined?

[2017-08-10 01:08] lauraannwilliams opened #68 "invalid or unknown type Timex.Ecto.TimestampWithTimezone"
I'm getting this error when I try to use  as a field type Timex.Ecto.TimestampWithTimezone. The   `use Timex.Ecto.Timestamps` feature is working correctly.

I assume I'm doing something wrong, but I can't find any clues in the documentation. I'd appreciate any pointers to get past this, thank you.

Details follow.

Code
[code]

Stacktrace:
[code]

Versions:
timex 3.1.24
timex_ecto 3.1.1
ecto 2.1.6

[2017-08-10 01:14] bitwalker commented on #68
You need to use 3.2.0+ of timex_ecto to use that type, as it was added only recently.

[2017-08-10 01:14] #68 closed, assigned to nobody

[2017-08-10 01:16] lauraannwilliams commented on #68
That would be the obvious thing I was missing. Thanks! I'll watch for 3.2.0 to be released.

[2017-08-10 01:18] bitwalker commented on #68
I'll try and get it released tomorrow, it should be tagged in git if you want to experiment with it early.

[2017-08-11 11:12] michallepicki opened #69 "Add timex_ecto 3.2 to hex"
** (Mix) No matching version for timex_ecto ~> 3.2 (from: mix.exs) in registry

[2017-08-24 18:00] johnhamelink opened #70 "Support for Ecto 2.2.x"
Ecto 2.2 has been released. It'd be good to get `timex_ecto` ready for 2.2.x so we can all upgrade.

[2017-08-29 09:26] ssboisen commented on #69
Yes please, especially since timex_ecto 3.2 has deps requirement that is compat with ecto 2.2

[2017-08-29 09:26] ssboisen commented on #69
ping @bitwalker

[2017-09-25 01:44] isaiahdw commented on #69
Any chance we can get this updated? It would be awesome to be able to upgrade to Ecto 2.2

[2017-09-26 17:38] bitwalker commented on #69
Done!

[2017-09-26 17:38] #69 closed, assigned to nobody

[2017-09-26 20:25] bitwalker commented on #70
Done!

[2017-09-26 20:25] #70 closed, assigned to nobody

[2017-11-05 05:10] rafbgarcia opened #74 "Having difficulties updating a record"
I'm trying to update the following record:

[code]

But I'm getting this error `could not encode date/time: {{{2017, 11, 5}, {3, 8, 1, 64322}}, "America/Sao_Paulo"}`

Because it's trying to execute this sql

[code]

My schema has the following fields:

[code]

And I'm using these options for the timestamp:

[code]

I'm using

[code]

Am I missing something?

[2018-01-11 21:17] joeyrosztoczy commented on #74
@rafbgarcia were you able to resolve this issue? I'm getting the same error as well

[2018-01-11 23:06] rafbgarcia commented on #74
Yup, ended up with

[code]

[2018-01-11 23:06] #74 closed, assigned to nobody

[2018-02-20 03:29] eteubert opened #76 "How do I compare dates in queries with datetimetz?"
With Ecto-Date fields I can do query comparisons like this:

[code]

However that does not work.

[code]

I tried using Timex to generate the value to compare, but that did not work either:

[code]

[2018-04-10 15:34] marieholzer opened #77 "Casting a map of input loses timezone information"
Hi,

Our timex_ecto version is  3.1.1.

We have an HTML form in which we can edit a date. We created the “datetimetz” type as advised in the [documentation](https://hexdocs.pm/timex_ecto/Timex.Ecto.DateTimeWithTimezone.html#content).
Our problem was, each time we were using this form to edit existing data, we were losing the timezone information.

Example:
`("2018-02-05 11:30:00+00",Europe/Paris)`

[2018-04-30 19:41] serialhex opened #78 "Timex.Ecto.DateTimeWithTimezone with SQLite please?"
I know in the documentation you *explicitly* say that only Postgres is supported, I thought I might try using timestamps w/ timezone in SQLite.  Unfortunately this is a no-go, as I get cool errors[1].

Now, my thinking was that SQLite isn't very type-safe, AFAIK the types mostly just there to help figure out what's going on, and defaults to string.  So I was hoping that my `field :timestamp, Timex

[2018-05-08 23:39] bitwalker commented on #78
The problem is that the underlying datastore has to expose the types being used. I'm not actually quite sure how to make the types defined in this project work with other databases, as they mostly piggyback on Ecto types. You would probably need to conditionally change the behaviour of the type based on what adapter is being used, I think, since what you want is for the representation of that data

[2018-05-08 23:39] #78 closed, assigned to nobody

[2018-05-08 23:53] #77 closed, assigned to nobody

[2018-05-08 23:54] bitwalker commented on #77
It is a bit of an abuse :P, that said it should be supported. I've updated `cast` to better handle maps of data, only using `to_datetime` if we have no other fallback.

[2018-05-15 15:36] eteubert opened #79 "timestamptz: entity updates despite identical time"
I expect there to be no database UPDATE when I add a date to the changeset that is identical to the one in the database, just like with native dates. However it looks like there is always an update happening. Is this a bug or am I using it wrong?

[code]
Context (shortened):

[code]

[code]

[2018-05-28 16:28] marieholzer commented on #77
Thank you for the update!
Though I don't understand why you say it is an abuse :)

[2018-05-31 18:56] eteubert commented on #79
I digged deep enough to find a workaround but not far enough to say with certainty where the bug lies.

It's a precision issue.

[code]

In my understanding they should be treated equally when I pass them into `Timex.parse!(datetime, "{ISO:Extended}")` regarding changesets but they are not.

My workaround is to remove the ms part from the source before parsing:

[code]

[2018-06-30 09:55] #37 closed, assigned to nobody

[2018-10-22 21:52] nathany opened #80 "Support for Ecto 3.0"
I'm seeing a compile failure for timex_ecto 3.3.0 when putting `{:ecto, "~> 3.0.0-rc.1"}` in the Mix file.

[2018-10-23 16:23] arathunku commented on #80
Details of the failure:
[code]

https://github.com/elixir-ecto/ecto/blob/master/CHANGELOG.md

[2018-10-23 21:06] nathany commented on #80
Maybe we can just remove this line?
https://github.com/bitwalker/timex_ecto/blob/master/lib/types/date.ex#L58

and a few others

Though perhaps we should be using timex_ecto anymore?

[2018-10-24 16:55] kurtome commented on #80
For reference, @josevalim mentioned the same thing when I erroneously opened this same bug against the `ecto` project: https://github.com/elixir-ecto/ecto/issues/2770

I thought we'd still need it to generate the models and migrations with the correct timestamp types, but I haven't had time to play with it.

[2018-10-30 16:05] nathany commented on #80
I managed to remove timex_ecto from my project and just use timex + ecto.

[2018-10-30 18:59] kurtome commented on #80
@nathany did you still use the Timex types for the `timestamps()`?

my models look like this right now:
[code]

[2018-11-01 18:50] nathany commented on #80
@kurtome Nope. I ended up using `:utc_datetime` instead of `Timex.Ecto.DateTime`.

[2018-11-02 03:26] kuroda commented on #80
@kurtome

Taking advice in https://github.com/elixir-ecto/ecto/issues/2770#issuecomment-435140215, I created a custom Ecto type for my application:

[code]

Then, I made following modifications on my `Model.User` module:

[code]

With these changes, my app works with the Ecto 3.0 just like before.

[2018-11-04 03:17] kurtome commented on #80
For what it's worth, I think automatic conversion to UTC is in fact desirable, even if it means that dates aren't read from the database in the same timezone they were written in. From past projects I've worked on it's pretty common to write incoming dates to the database based on the user's timezone and then read them in UTC and convert back to the user's timezone for display purposes.

The impor

[2018-11-04 03:51] kuroda commented on #80
@kurtome

I agree with you.

I submitted a question related to this issue to the Elixir forum:

https://elixirforum.com/t/how-to-upgrade-an-app-using-timex-ecto-to-phoenix-1-4-and-ecto-3-0/17676

Please make a comment on it to attract atttentions from community.

[2018-12-24 13:31] MattGaud2425 opened #82 "Compilation error in file lib/types/date.ex"
Generated timex app
==> timex_ecto
Compiling 8 files (.ex)

== Compilation error in file lib/types/date.ex ==
** (CompileError) lib/types/date.ex:58: Ecto.Date.__struct__/0 is undefined, cannot expand struct Ecto.Date
    lib/types/date.ex:58: (module)
could not compile dependency :timex_ecto, "mix compile" failed. You can recompile this dependency with "mix deps.compile timex_ecto", update it wit

[2019-02-04 18:39] jacobparry commented on #80
Timex_Ecto still lists Ecto 2.2 as the required version. Is there any chance it will upgrade soon to list Ecto 3.0? We use the Timex.Ecto fields quite a bit, so it will be difficult to upgrade to Ecto 3.0 without it.

[2019-05-16 18:59] aselder commented on #82
Similar error in another file

[code]

[2019-06-30 01:37] dfalling opened #83 "Incompatibility with Timex 3.6.1"
The patch update from 3.6.0 to 3.6.1 of Timex is incompatible with timex_ecto.  I get a number of these failures in my branch:

[code]

Is there a known workaround, or do I need to hold off on updating Timex for now?

[2019-06-30 01:58] riverrun commented on #83
The issue seems to be that after [this commit](https://github.com/bitwalker/timex/commit/59650d4c4a2da152a18b6d8c898aa5d8e04458ed), the `construct_microseconds/1` function only takes a two-tuple as input (before, it used to also take an integer). This function is currently being used (and currently expecting an integer as input) in the following files:

timex_ecto/lib/helpers.ex
timex_ecto/lib/typ

[2019-07-01 17:44] bitwalker commented on #83
Fixed in master, and soon to be 3.4.0 release

[2019-07-01 17:44] #83 closed, assigned to nobody

[2019-07-01 17:48] bitwalker commented on #80
Closing as `timex_ecto` is no longer need in Ecto 3. I unfortunately do not have time to put together a guide, but hopefully the discussion above is enough for those that are searching for an upgrade path. If I manage to find more free time again soon I will put together a quick migration guide in the README.

[2019-07-01 17:48] #80 closed, assigned to nobody

[2019-07-01 17:49] #82 closed, assigned to nobody

[2019-07-01 17:50] bitwalker commented on #82
Cannot reproduce with the latest version and Elixir 1.9. The latter error appears to be due to Timex not being loaded at all for some reason.

[2019-09-13 16:01] Fire-Dragon-DoL opened #84 "Ecto type for Timex.Duration?"
Hello,
Is possible to use Timex.Duration (or some `Timex.Duration.Ecto`) as type for an Ecto field?

The purpose is to store, for example, a delay of something. E.g. "do not use this account for 3 weeks" in a ban-like system.

In an ideal world, it would encode to postgres `interval` type too.
Is there any chance this is supported?

[2021-01-20 15:59] kmacdough opened #85 "Incompatible with Ecto 3.5.5"
Adding dependency `{timex_ecto: "~> 3.0.0"}` creates a dependency conflict:

[code]

Attempting to bypass this conflict with `{ecto: "~> 3.5.5", override: true}` generates the following error:

[code]

[2021-01-20 16:14] kmacdough commented on #85
I take it back, I overlooked the "NOTE" in the README.md

 `deps` snippet in both the timex & timex_ecto README (and therefore the hex docs) are outdated. Updating these would help avoid similar confusions about the current version.

[2021-01-20 16:25] kmacdough commented on #85
Re-opening this after having to go on a longer discovery journey. The a path answer is contained in https://github.com/bitwalker/timex_ecto/issues/80, but there is no reference included in the README. @bitwalker mentions not having time for a guide (which is fair) but at least a link from the README to the closed issue would send people on the right track.

[2021-03-22 14:44] angeleah commented on #85
I think just adding "`timex_ecto` is no longer need in Ecto 3." in the README would save people newer to Elixir / Ecto a lot of time.

[2021-03-22 14:45] angeleah commented on #80
I think just adding "`Timex_ecto `is no longer need in Ecto 3." in the README would save people newer to Elixir / Ecto a lot of time.

[2022-02-05 09:22] markquezada commented on #84
@Fire-Dragon-DoL Did you ever figure out a way to do this?

[2022-02-05 20:09] Fire-Dragon-DoL commented on #84
I do not, sorry, I haven't worked with Elixir in a while.